@model Client
<div class="modal fade" tabindex="-1" role="dialog" id="client-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input asp-for="Id" type="hidden">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                </div>             
                <div class="col-md-10">  
                 <label asp-for="Gender"></label>  
                    @Html.RadioButtonFor(model => model.Gender, "Male")  
                    Male  
                    @Html.RadioButtonFor(model => model.Gender, "Female")  
                    Female
                </div>  
                <div class="form-group">
                    <label asp-for="Dateregistered"></label>
                    <input asp-for="Dateregistered" class="form-control">
                </div>
                <div class="col-md-10">  
                 <label asp-for="Selectedeventdays"></label>  
                     Day 1
                    @Html.CheckBox("Day1", true) 
                     Day 2  
                    @Html.CheckBox("Day2", false) 
                     Day 3 
                    @Html.CheckBox("Day3", false) 
                </div>  
                <div class="form-group">
                    <label asp-for="AdditionalRequest"></label>
                    <input asp-for="AdditionalRequest" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save-client">Save changes</button>
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>



    